<ul>
  <li>
    <div class="link">
      <input type="text"
             placeholder="Add social network"
             #input
      >
      <button (click)="sendData()"
              type="button"
      >
        <img src="{{icons.add}}"
             alt="add-icon">
      </button>
    </div>
  </li>
  <li *ngFor="let socialNetwork of socialNetworks">
    <div class="link">
      <a href="{{socialNetwork.url}}">
        <img [src]="socialNetwork.socialNetworkImage.imagePath"
             alt="">
      </a>
      <a href="{{socialNetwork.url}}">{{socialNetwork.url}}</a>
    </div>
    <div class="edit-icons">
      <button class="edit-btn"
              type="button"
      >
        <img src="{{icons.edit}}"
             alt="edit icon">
      </button>
      <button class="edit-btn"
              type="button"
              (click)="removeSocialNetwork(socialNetwork.id)"
      >
        <img src="{{icons.delete}}"
             alt="delete icon">
      </button>
    </div>
  </li>
</ul>
