<ul>
  <li *ngFor="let socialNetwork of socialNetworks">
    <div class="link">
      <span>{{socialNetwork}}</span>
    </div>
    <div class="edit-icons">
      <button>
        <img src="{{icons.edit}}"
             alt="edit icon">
      </button>
      <button>
        <img src="{{icons.delete}}"
             alt="delete icon">
      </button>
    </div>
  </li>
  <li>
    <div class="link">
      <button (click)="sendData()"
              type="button"
      >
        <img src="{{icons.add}}"
             alt="add-icon">
      </button>
      <input type="text"
             placeholder="Add social network"
             #input
      >
    </div>
  </li>
</ul>
