<ul>
  <li>
    <div class="link">
      <input type="text"
             placeholder="Add social network"
             #input
      >
      <button (click)="sendData()"
              type="button"
      >
        <img src="{{icons.add}}"
             alt="add-icon">
      </button>
    </div>
  </li>
  <li *ngFor="let socialNetwork of socialNetworks">
    <div class="link">
      <a [href]="socialNetwork">
        <img src="{{ getImagePath(socialNetwork) }}"
             alt="network">
      </a>
      <a [href]="socialNetwork">
        {{ socialNetwork }}
      </a>
    </div>
    <div class="edit-icons">
      <button>
        <img src="{{icons.edit}}"
             alt="edit icon">
      </button>
      <button>
        <img src="{{icons.delete}}"
             alt="delete icon">
      </button>
    </div>
  </li>
</ul>
