ul {
  margin-bottom: 0;
  padding: 0;

  li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 24px;

    .link {
      display: flex;
      align-items: center;

      img {
        height: 24px;
        width: 24px;
        margin-right: 16px;
      }

      a {
        text-decoration: none;
        color: #000;
      }

      input {
        color: #494A49;
        font-family: OpenSans, sans-serif;
        font-size: 16px;
        line-height: 24px;
        margin-right: 16px;
      }
    }

    .edit-icons {
      justify-self: end;

      .edit-btn {
        border: transparent;
        background-color: transparent;
        padding: 0;
        outline: none;

        img {
          padding-left: 18px;
        }
      }
    }
  }

  li:first-child {
    justify-self: start;

    .link {
      button {
        border: transparent;
        background-color: transparent;
        padding: 0;
        outline: none;

        img {
          height: 26px;
          width: 26px;
          margin-right: 16px;
        }
      }

      input {
        color: #056B33;
      }
    }
  }

  li:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  ul {
    li {
      .link {
        img {
          margin-right: 12px;
        }

        input {
          font-size: 14px;
          margin-right: 0;
        }
      }
    }
  }
}
